{%extends 'base.html'%}
{%block title%}<title>Song Mood Classifer</title>{%endblock%}
{%block head%}
{%endblock%}

{%block body%} 
<div class="content">
    <h1 class="title">Song Mood Classifier</h1>
    <p>Type in a song name along with its artist and we'll guess what kind of mood it is!</p>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="text" name="song_name" placeholder="Song Name" required>

        <input type="submit" value="Predict">
    </form>
    <!-- Render the returned mood, artist, and album art -->
    {%if mood%}
    <div class="result">
        <h3>The mood of this song is: {{mood}}</h3>
        <h1>{{song_name}}</h1>
        <h3>{{artist}}</h3>
        <img src="{{album_cover}}" alt="Album Art"/>
    </div>
    {%endif%}
</div>
{%endblock%}